@font-face {
  font-family: "Mulish";
  src: url("/css/fonts/mulish-regular.woff2") format("woff2");
  src: url("/css/fonts/mulish-regular.woff") format("woff");
  src: url("/css/fonts/mulish-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}

.button__black {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #f3f9fa;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #f3f9fa;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #0a0a0a;
  padding: 8px 30px;
  margin-left: 15px;
}

.button__white {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #0a0a0a;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #f3f9fa;
  padding: 8px 30px;
  margin-left: 15px;
}

.drop-cap {
  color: #7df9ff;
}

.h1 {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a;
  font-size: 64px;
  margin: 0;
}

.h2 {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a;
  font-size: 48px;
  margin: 0;
}

.h3 {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a;
  font-size: 40px;
  margin: 0;
}

.subheading {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a;
  font-size: 28px;
  line-height: 36px;
  margin: 0;
}

.text {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.a {
  cursor: pointer;
}

.header {
  background-color: #0a0a0a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 70px;
}
.header__menu__icon {
  display: none;
}
.header__logo {
  width: 210px;
  height: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #f3f9fa;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 22px;
}
.menu__item {
  list-style-type: none;
  margin-left: 45px;
  text-decoration: none;
  color: #f3f9fa;
}

.mobile-menu {
  background-color: #0a0a0a;
  width: 100%;
  height: 400px;
  position: absolute;
}
.mobile-menu__line {
  color: #f3f9fa;
  margin: 0;
}
.mobile-menu__close {
  width: 30px;
  position: relative;
  top: 15px;
  left: calc(100vw - 45px);
  margin-bottom: 15px;
}
.mobile-menu__list {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #f3f9fa;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.mobile-menu__list__item {
  list-style-type: none;
  padding-bottom: 25px;
  color: #f3f9fa;
  text-decoration: none;
}
.mobile-menu__list__item_blue {
  color: #2ebadc;
}

.footer {
  font-family: "Mulish";
  font-weight: 400;
  font-style: normal;
  color: #f3f9fa;
  background-color: #0a0a0a;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
}
.footer__contacts__block1 {
  display: flex;
  flex-direction: row;
}
.footer__contacts__text {
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
}
.footer__contacts__link {
  text-decoration: none;
  color: #f3f9fa;
}
.footer__contacts__phone {
  font-size: 36px;
  margin: 0;
  padding-top: 10px;
  cursor: pointer;
}
.footer__contacts__social-icon {
  width: 35px;
}
.footer__img {
  width: 105px;
  padding-right: 30px;
}
.footer__line {
  width: 1500px;
}
.footer__copyright {
  padding: 50px 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright__link {
  color: #f3f9fa;
  text-decoration: none;
}
.footer__copyright__link__divider::after {
  content: "|";
  padding: 0 5px 0 10px;
}

.intro {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  justify-content: center;
}
.intro__img {
  width: 75%;
  height: auto;
}
.intro__h1 {
  margin-bottom: 70px;
  width: 80%;
}
.intro__text {
  margin-bottom: 100px;
  width: 80%;
}

.advantages {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.advantages__h2 {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.advantages__paragraphs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.advantages__text {
  width: 40%;
}

.statistics {
  padding: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.statistics__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  width: 300px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.why-us {
  padding: 75px 0;
  background-color: #0a0a0a;
}
.why-us__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.why-us__image {
  width: 70%;
}
.why-us__h2 {
  padding-bottom: 50px;
  color: #f3f9fa;
}
.why-us__subheading {
  width: 580px;
  color: #f3f9fa;
  padding-bottom: 75px;
}
.why-us__wrap2 {
  text-align: center;
}
.why-us__btn {
  display: inline-block;
}

.services {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
}
.services__h2 {
  margin: 0 auto;
  padding-bottom: 20px;
}
.services__subheading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.services__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
  row-gap: 50px;
}
.services__items__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.services__items__item__img {
  width: 20%;
  padding-bottom: 20px;
}
.services__items__h3 {
  text-align: center;
}
.services__items__text {
  width: 80%;
  text-align: center;
}

.about {
  background-color: #0a0a0a;
}
.about__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding-bottom: 100px;
  text-align: center;
}
.about__block1 {
  text-align: left;
}
.about__h1 {
  padding-bottom: 70px;
  color: #f3f9fa;
}
.about__text {
  margin: 0;
  color: #f3f9fa;
  width: 80%;
}
.about__img {
  width: 60%;
  padding-left: 30px;
}

.story {
  padding-top: 100px;
}
.story__h1 {
  padding-bottom: 40px;
}
.story__texts {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.story__text {
  padding-right: 70px;
  width: 500px;
}

.values {
  padding: 100px 0;
}
.values__h2 {
  padding-bottom: 70px;
}
.values__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.values__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 70px;
}
.values__item__img {
  width: 100px;
  padding-bottom: 15px;
}
.values__item__h3 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
}
.values__item__text {
  text-align: center;
  width: 80%;
}

.facilities {
  background-color: #0a0a0a;
}
.facilities__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 0;
}
.facilities__h1 {
  padding-bottom: 70px;
  color: #f3f9fa;
}
.facilities__text {
  width: 80%;
  color: #f3f9fa;
}

.featured-services {
  padding: 100px 0;
  text-align: center;
}
.featured-services__h2 {
  padding-bottom: 20px;
}
.featured-services__text {
  width: 40%;
  display: inline-block;
  padding-bottom: 70px;
}
.featured-services__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.featured-services__list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.featured-services__list__item__img {
  width: 100px;
  padding-bottom: 20px;
}
.featured-services__list__item__h3 {
  padding-bottom: 20px;
}
.featured-services__list__item__text {
  width: 80%;
}

.reasons {
  background-color: #0a0a0a;
  padding: 100px 0;
}
.reasons__wrap {
  text-align: center;
}
.reasons__h2 {
  padding-bottom: 20px;
  color: #f3f9fa;
}
.reasons__text {
  width: 60%;
  display: inline-block;
  padding-bottom: 70px;
  color: #f3f9fa;
}
.reasons__list {
  display: flex;
  flex-direction: row;
}
.reasons__list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reasons__list__item__h3 {
  color: #f3f9fa;
  padding-bottom: 20px;
}
.reasons__list__item__text {
  color: #f3f9fa;
  text-align: left;
  padding-right: 20px;
}

.boost {
  background-image: url(/images/hizmetlerimiz/iletisim-background.jpg);
  background-size: cover;
  padding: 100px 0;
}
.boost__wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.boost__h2 {
  padding-bottom: 20px;
  color: #f3f9fa;
}
.boost__text {
  padding-bottom: 70px;
  width: 70%;
  color: #f3f9fa;
  display: inline-block;
}

.clients {
  background-color: #0a0a0a;
  padding: 100px 0;
}
.clients__h1 {
  color: #f3f9fa;
  padding-bottom: 70px;
}
.clients__text {
  color: #f3f9fa;
  width: 80%;
}
.clients__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px 0;
  justify-content: space-evenly;
  align-items: center;
}
.companies__img {
  width: 140px;
  padding: 10px;
}

.contact-us {
  background-color: #0a0a0a;
  padding: 100px 0;
}
.contact-us__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-us__h1 {
  color: #f3f9fa;
  padding-bottom: 70px;
}
.contact-us__text {
  color: #f3f9fa;
}
.contact-us__img {
  width: 80%;
}

.contact-form {
  padding: 100px 0;
}
.contact-form__h2 {
  text-align: center;
  padding-bottom: 70px;
}
.contact-form__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-form__h3 {
  padding-bottom: 5px;
}
.contact-form__text {
  padding-bottom: 20px;
  width: 70%;
}
.contact-form__label {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.contact-form__input {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  height: 35px;
  width: 90%;
  margin-top: 5px;
}
.contact-form__textarea {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  width: 90%;
  margin-top: 5px;
}
.contact-form__btn {
  margin-top: 50px;
}

.politics {
  padding: 100px 0;
}
.politics__h1 {
  padding-bottom: 20px;
  font-size: 44px;
}
.politics__h2 {
  padding-bottom: 15px;
  font-size: 36px;
}
.politics__text {
  padding-bottom: 10px;
  line-height: 34px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1100px;
  }
  .footer__contacts,
  .footer__line,
  .footer__copyright {
    max-width: 1300px;
  }
  .story__text {
    width: 350px;
  }
  .values__item__text {
    width: 95%;
  }
}
@media screen and (max-width: 1366px) {
  .container,
  .footer__line {
    max-width: 1100px;
  }
  .menu__list__item {
    margin-left: 30px;
  }
  .button__black,
  .button__white,
  .button__kurye-hizmeti-al {
    font-size: 16px;
    padding: 8px 20px;
  }
}
@media screen and (max-width: 1280px) {
  .header__logo {
    width: 180px;
    height: 35px;
  }
  .button__black,
  .button__white {
    padding: 5px 25px;
  }
  .menu {
    font-size: 18px;
  }
  .menu__list__item {
    font-size: 20px;
    margin-left: 25px;
  }
  .menu__list__item {
    font-size: 18px;
    margin-left: 25px;
  }
  .footer__contacts__phone {
    font-size: 34px;
    padding-top: 18px;
  }
  .h1 {
    font-size: 56px;
  }
  .h2 {
    font-size: 44px;
  }
  .h3 {
    font-size: 34px;
  }
  .subheading {
    font-size: 24px;
  }
  .text,
  .footer__contacts__text {
    font-size: 22px;
  }
}
@media screen and (max-width: 1112px) {
  .container,
  .footer__line {
    max-width: 900px;
  }
  .header {
    justify-content: space-between;
    padding: 15px 70px;
  }
  .header__menu__icon {
    display: initial;
    width: 35px;
  }
  .header__logo {
    width: 160px;
    height: 30px;
  }
  .menu {
    display: none;
  }
  .button__black,
  .button__white {
    font-size: 16px;
  }
  .why-us__subheading {
    width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .intro__h1,
  .intro__text {
    width: 460px;
  }
  .why-us__image {
    width: 50%;
  }
  .why-us__subheading {
    width: 460px;
  }
  .footer__contacts__phone {
    font-size: 30px;
    padding-top: 20px;
  }
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 40px;
  }
  .h3 {
    font-size: 28px;
  }
  .subheading {
    font-size: 20px;
    line-height: 30px;
  }
  .text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 0 30px;
  }
  .footer__line {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .container,
  .footer__line {
    max-width: 650px;
  }
  .intro,
  .advantages {
    padding-top: 70px;
  }
  .intro__h1,
  .intro__text {
    width: 300px;
    margin-bottom: 50px;
  }
  .why-us__wrap {
    justify-content: space-around;
  }
  .why-us__h2 {
    width: 300px;
  }
  .why-us__subheading {
    width: 300px;
  }
  .why-us__image {
    width: 200px;
  }
  .statistics {
    padding: 50px;
  }
  .footer__contacts__phone {
    font-size: 28px;
    padding-top: 22px;
  }
  .footer__copyright {
    display: flow;
  }
  .h1 {
    font-size: 40px;
  }
  .h2 {
    font-size: 36px;
  }
  .h3 {
    font-size: 26px;
  }
  .subheading {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
  .story {
    padding-top: 70px;
  }
  .story__text {
    width: auto;
  }
  .about {
    padding-top: 70px;
  }
  .facilities__wrap,
  .featured-services,
  .reasons,
  .boost {
    padding: 70px 0;
  }
  .facilities__h1 {
    padding-bottom: 40px;
  }
  .facilities__text {
    padding-bottom: 40px;
    display: inline-block;
  }
  .facilities__wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .featured-services__text {
    padding-bottom: 30px;
    width: 65%;
  }
  .featured-services__list {
    flex-direction: column;
  }
  .featured-services__list__item__text {
    width: 60%;
  }
  .featured-services__list__item__img {
    padding-top: 20px;
  }
  .clients {
    padding: 70px 0;
  }
  .clients__wrap {
    flex-direction: column;
    align-items: center;
  }
  .clients__h1 {
    padding-bottom: 30px;
    text-align: center;
  }
  .clients__text {
    padding-bottom: 50px;
    text-align: center;
    display: inline-block;
    width: auto;
  }
  .clients__img {
    width: 80%;
  }
  .contact-us {
    padding: 70px 0;
  }
  .contact-us__wrap {
    flex-direction: column;
    text-align: center;
  }
  .contact-us__h1 {
    padding-bottom: 40px;
  }
  .contact-us__img {
    width: 40%;
    padding-top: 70px;
  }
  .contact-form {
    padding: 70px 0;
  }
  .contact-form__wrap {
    flex-direction: column;
  }
  .contact-form__h2 {
    padding-bottom: 40px;
  }
  .contact-form__text {
    width: auto;
  }
}
@media screen and (max-width: 425px) {
  .container,
  .footer__line {
    max-width: 365px;
  }
  .button__kurye-hizmeti-al {
    display: none;
  }
  .header {
    padding: 15px 20px;
  }
  .intro,
  .advantages__paragraphs,
  .statistics,
  .why-us,
  .values__wrap {
    flex-direction: column;
  }
  .intro {
    text-align: center;
    padding-top: 30px;
  }
  .intro__h1 {
    padding-top: 30px;
    width: 380px;
  }
  .intro__text {
    width: 380px;
  }
  .advantages__h2 {
    width: 85%;
    padding-bottom: 30px;
  }
  .advantages__text {
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  .statistics {
    align-items: center;
    padding: 30px;
  }
  .statistics__item {
    width: 220px;
  }
  .why-us {
    padding: 0 0 50px;
    text-align: center;
  }
  .why-us__h2 {
    padding-bottom: 30px;
  }
  .services {
    padding: 50px 0;
  }
  .services__subheading {
    width: 85%;
  }
  .services__items {
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .services__items__item__img {
    width: 50%;
  }
  .footer__img {
    width: 70px;
  }
  .footer__contacts__block1 {
    flex-direction: column;
  }
  .footer__contacts__text {
    font-size: 18px;
    padding-top: 20px;
  }
  .footer__contacts__link {
    font-size: 28px;
  }
  .h1 {
    font-size: 36px;
  }
  .h2 {
    font-size: 30px;
  }
  .h3 {
    font-size: 22px;
  }
  .text {
    line-height: 22px;
  }
  .about {
    padding-top: 50px;
  }
  .about__img {
    display: none;
  }
  .story__text {
    width: auto;
    padding-right: 20px;
  }
  .values {
    padding: 50px 0;
  }
  .values__item {
    padding-right: 0px;
  }
  .values__item__text {
    width: 80%;
  }
  .facilities__wrap,
  .featured-services,
  .reasons,
  .boost {
    padding: 50px 0;
  }
  .facilities__img {
    width: 80%;
  }
  .reasons__text {
    width: 90%;
  }
  .reasons__list {
    flex-direction: column;
  }
  .reasons__list__item {
    padding-bottom: 20px;
  }
  .contact-form__input,
  .contact-form__textarea {
    width: auto;
  }
}
@media screen and (max-width: 375px) {
  .container,
  .footer__line {
    max-width: 315px;
  }
  .header {
    align-items: center;
  }
  .header__menu__icon {
    width: 30px;
  }
  .header__logo {
    width: 140px;
    height: 28px;
  }
  .button__black,
  .button__white {
    padding: 3px 20px;
  }
  .intro__h1 {
    width: auto;
  }
  .intro__text {
    width: auto;
  }
  .services__subheading {
    width: 95%;
  }
  .statistics__item {
    width: 200px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3 {
    font-size: 20px;
  }
  .text {
    line-height: 20px;
  }
  .facilities__text {
    width: 90%;
  }
  .featured-services__text {
    width: 80%;
  }
  .featured-services__list__item__text {
    width: 90%;
  }
  .boost__text {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .container,
  .footer__line {
    max-width: 280px;
  }
  .header__menu__icon {
    width: 25px;
  }
  .header__logo {
    width: 120px;
    height: 24px;
    padding-left: 10px;
  }
  .button__black,
  .button__white {
    padding: 3px 15px;
  }
  .footer__contacts__social-icon {
    width: 25px;
  }
}/*# sourceMappingURL=style.css.map */