// Main font
@font-face {
    font-family: "Mulish";
    src: url("/css/fonts/mulish-regular.woff2") format("woff2");
    src: url("/css/fonts/mulish-regular.woff") format("woff");
    src: url("/css/fonts/mulish-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@mixin mulish-regular {
    font-family: "Mulish";
    font-weight: 400;
    font-style: normal;
}

// Content width
@mixin desktop-container {
    max-width: $desktop-container-width;
    margin: 0 auto;
}

// Corporate colors
$mtp-white: #f3f9fa;
$mtp-black: #0a0a0a;
$mtp-cyan: #7df9ff;
$mtp-blue: #2ebadc;
$mtp-grey: #D9D9D9;

// Container width variables
$desktop-container-width: 1500px;
$laptop-container-width: 1100px;
$tablet-large-container-width: 900px;
$tablet-small-container-width: 650px;
$mobile-425-container-width: 365px;
$mobile-375-container-width: 315px;
$mobile-320-container-width: 280px;

.container {
    @include desktop-container;
}

// Main elements
.button__black {
    @include mulish-regular;
    color: $mtp-white;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid $mtp-white;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: $mtp-black;
    padding: 8px 30px;
    margin-left: 15px;
}

.button__white {
    @include mulish-regular;
    color: $mtp-black;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid $mtp-black;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: $mtp-white;
    padding: 8px 30px;
    margin-left: 15px;
}

.drop-cap {
    color: $mtp-cyan;
}

.h1 {
    @include mulish-regular;
    color: $mtp-black;
    font-size: 64px;
    margin: 0;
}

.h2 {
    @include mulish-regular;
    color: $mtp-black;
    font-size: 48px;
    margin: 0;
}

.h3 {
    @include mulish-regular;
    color: $mtp-black;
    font-size: 40px;
    margin: 0;
}

.subheading {
    @include mulish-regular;
    color: $mtp-black;
    font-size: 28px;
    line-height: 36px;
    margin: 0;
}

.text {
    @include mulish-regular;
    color: $mtp-black;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.a {
    cursor: pointer;
}

// Header
.header {
    background-color: $mtp-black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;

    &__menu__icon {
        display: none;
    }

    &__logo {
        width: 210px;
        height: 40px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include mulish-regular;
    color: $mtp-white;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 22px;

    &__item {
        list-style-type: none;
        margin-left: 45px;
        text-decoration: none;
        color: $mtp-white;
    }
}

// Mobile menu
.mobile-menu {
    background-color: $mtp-black;
    width: 100%;
    height: 400px;
    position: absolute;

    &__line {
        color: $mtp-white;
        margin: 0;
    }

    &__close {
        width: 30px;
        position: relative;
        top: 15px;
        left: calc(100vw - 45px);
        margin-bottom: 15px;
    }

    &__list {
        @include mulish-regular;
        color: $mtp-white;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        &__item {
            list-style-type: none;
            padding-bottom: 25px;
            color: $mtp-white;
            text-decoration: none;

            &_blue {
                color: $mtp-blue;
            }
        }
    }
}

// Footer
.footer {
    @include mulish-regular;
    color: $mtp-white;
    background-color: $mtp-black;

    &__contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 0;

        &__block1 {
            display: flex;
            flex-direction: row;
        }

        &__text {
            text-transform: uppercase;
            font-size: 24px;
            margin: 0;
        }

        &__link {
            text-decoration: none;
            color: $mtp-white;
        }

        &__phone {
            font-size: 36px;
            margin: 0;
            padding-top: 10px;
            cursor: pointer;
        }

        &__social-icon {
            width: 35px;
        }
    }

    &__img {
        width: 105px;
        padding-right: 30px;
    }

    &__line {
        width: $desktop-container-width;
    }

    &__copyright {
        padding: 50px 0 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__link {
            color: $mtp-white;
            text-decoration: none;

            &__divider::after {
                content: "|";
                padding: 0 5px 0 10px;
            }
        }
    }
}

// Main page
.intro {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    justify-content: center;

    &__img {
        width: 75%;
        height: auto;
    }

    &__h1 {
        margin-bottom: 70px;
        width: 80%;
    }

    &__text {
        margin-bottom: 100px;
        width: 80%;
    }
}

.advantages {
    padding-top: 100px;
    display: flex;
    flex-direction: column;

    &__h2 {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    &__paragraphs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__text {
        width: 40%;
    }
}

.statistics {
    padding: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $mtp-grey;
        width: 300px;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }
}

.why-us {
    padding: 75px 0;
    background-color: $mtp-black;

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__image {
        width: 70%;
    }

    &__h2 {
        padding-bottom: 50px;
        color: $mtp-white;
    }

    &__subheading {
        width: 580px;
        color: $mtp-white;
        padding-bottom: 75px;
    }

    &__wrap2 {
        text-align: center;
    }

    &__btn {
        display: inline-block;
    }
}

.services {
    padding: 75px 0;
    display: flex;
    flex-direction: column;

    &__h2 {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    &__subheading {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: auto;
        row-gap: 50px;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &__img {
                width: 20%;
                padding-bottom: 20px;
            }
        }

        &__h3 {
            text-align: center;
        }

        &__text {
            width: 80%;
            text-align: center;
        }
    }
}

// Hakkimizda page
.about {
    background-color: $mtp-black;

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        padding-bottom: 100px;
        text-align: center;
    }

    &__block1 {
        text-align: left;
    }

    &__h1 {
        padding-bottom: 70px;
        color: $mtp-white;
    }

    &__text {
        margin: 0;
        color: $mtp-white;
        width: 80%;
    }

    &__img {
        width: 60%;
        padding-left: 30px;
    }
}

.story {
    padding-top: 100px;

    &__h1 {
        padding-bottom: 40px;
    }

    &__texts {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__text {
        padding-right: 70px;
        width: 500px;
    }
}

.values {
    padding: 100px 0;

    &__h2 {
        padding-bottom: 70px;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-right: 70px;

        &__img {
            width: 100px;
            padding-bottom: 15px;
        }

        &__h3 {
            font-size: 32px;
            font-weight: bold;
            padding-bottom: 20px;
        }

        &__text {
            text-align: center;
            width: 80%;
        }
    }
}

// Hizmetlerimiz page
.facilities {
    background-color: $mtp-black;

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 100px 0;
    }

    &__h1 {
        padding-bottom: 70px;
        color: $mtp-white;
    }

    &__text {
        width: 80%;
        color: $mtp-white;
    }
}

.featured-services {
    padding: 100px 0;
    text-align: center;

    &__h2 {
        padding-bottom: 20px;
    }

    &__text {
        width: 40%;
        display: inline-block;
        padding-bottom: 70px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &__img {
                width: 100px;
                padding-bottom: 20px;
            }

            &__h3 {
                padding-bottom: 20px;
            }

            &__text {
                width: 80%;
            }
        }
    }
}

.reasons {
    background-color: $mtp-black;
    padding: 100px 0;

    &__wrap {
        text-align: center;
    }

    &__h2 {
        padding-bottom: 20px;
        color: $mtp-white;
    }

    &__text {
        width: 60%;
        display: inline-block;
        padding-bottom: 70px;
        color: $mtp-white;
    }

    &__list {
        display: flex;
        flex-direction: row;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__h3 {
                color: $mtp-white;
                padding-bottom: 20px;
            }

            &__text {
                color: $mtp-white;
                text-align: left;
                padding-right: 20px;
            }
        }
    }
}

.boost {
    background-image: url(/images/hizmetlerimiz/iletisim-background.jpg);
    background-size: cover;
    padding: 100px 0;

    &__wrap {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__h2 {
        padding-bottom: 20px;
        color: $mtp-white;
    }

    &__text {
        padding-bottom: 70px;
        width: 70%;
        color: $mtp-white;
        display: inline-block;
    }
}

// Referanslar page
.clients {
    background-color: $mtp-black;
    padding: 100px 0;

    &__h1 {
        color: $mtp-white;
        padding-bottom: 70px;
    }

    &__text {
        color: $mtp-white;
        width: 80%;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 0;
    justify-content: space-evenly;
    align-items: center;

    &__img {
        width: 140px;
        padding: 10px;
    }
}

// Iletisim page
.contact-us {
    background-color: $mtp-black;
    padding: 100px 0;

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__h1 {
        color: $mtp-white;
        padding-bottom: 70px;
    }

    &__text {
        color: $mtp-white;
    }

    &__img {
        width: 80%;
    }
}

.contact-form {
    padding: 100px 0;

    &__h2 {
        text-align: center;
        padding-bottom: 70px;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__h3 {
        padding-bottom: 5px;
    }

    &__text {
        padding-bottom: 20px;
        width: 70%;
    }

    &__label {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    &__input {
        border: 1px solid $mtp-grey;
        border-radius: 10px;
        height: 35px;
        width: 90%;
        margin-top: 5px;
    }

    &__textarea {
        border: 1px solid $mtp-grey;
        border-radius: 10px;
        width: 90%;
        margin-top: 5px;
    }

    &__btn {
        margin-top: 50px;
    }
}

// Laptop styles
@media screen and (max-width: 1440px) {
    .container {
        max-width: $laptop-container-width;
    }

    .footer__contacts,
    .footer__line,
    .footer__copyright {
        max-width: 1300px;
    }

    .story__text {
        width: 350px;
    }

    .values__item__text {
        width: 95%;
    }
}

@media screen and (max-width: 1366px) {

    .container,
    .footer__line {
        max-width: $laptop-container-width;
    }

    .menu__list {
        &__item {
            margin-left: 30px;
        }
    }

    .button__black,
    .button__white,
    .button__kurye-hizmeti-al {
        font-size: 16px;
        padding: 8px 20px;
    }
}

@media screen and (max-width: 1280px) {
    .header__logo {
        width: 180px;
        height: 35px;
    }

    .button__black,
    .button__white {
        padding: 5px 25px;
    }

    .menu {
        font-size: 18px;

        &__list {
            &__item {
                font-size: 20px;
                margin-left: 25px;
            }
        }
    }

    .menu__list {
        &__item {
            font-size: 18px;
            margin-left: 25px;
        }
    }

    .footer__contacts__phone {
        font-size: 34px;
        padding-top: 18px;
    }

    .h1 {
        font-size: 56px;
    }

    .h2 {
        font-size: 44px;
    }

    .h3 {
        font-size: 34px;
    }

    .subheading {
        font-size: 24px;
    }

    .text,
    .footer__contacts__text {
        font-size: 22px;
    }
}

// Tablet styles
@media screen and (max-width: 1112px) {

    .container,
    .footer__line {
        max-width: $tablet-large-container-width;
    }

    .header {
        justify-content: space-between;
        padding: 15px 70px;

        &__menu__icon {
            display: initial;
            width: 35px;
        }
    }

    .header__logo {
        width: 160px;
        height: 30px;
    }

    .menu {
        display: none;
    }

    .button__black,
    .button__white {
        font-size: 16px;
    }

    .why-us {
        &__subheading {
            width: 400px;
        }
    }
}

@media screen and (max-width: 1024px) {

    .intro__h1,
    .intro__text {
        width: 460px;
    }

    .why-us {
        &__image {
            width: 50%;
        }

        &__subheading {
            width: 460px;
        }
    }

    .footer__contacts__phone {
        font-size: 30px;
        padding-top: 20px;
    }

    .h1 {
        font-size: 48px;
    }

    .h2 {
        font-size: 40px;
    }

    .h3 {
        font-size: 28px;
    }

    .subheading {
        font-size: 20px;
        line-height: 30px;
    }

    .text {
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 0 30px;

        &__line {
            width: auto;
        }
    }
}

@media screen and (max-width: 768px) {

    .container,
    .footer__line {
        max-width: $tablet-small-container-width;
    }

    .intro,
    .advantages {
        padding-top: 70px;
    }

    .intro__h1,
    .intro__text {
        width: 300px;
        margin-bottom: 50px;
    }

    .why-us {
        &__wrap {
            justify-content: space-around;
        }

        &__h2 {
            width: 300px;
        }

        &__subheading {
            width: 300px;
        }

        &__image {
            width: 200px;
        }
    }

    .statistics {
        padding: 50px;
    }

    .footer {
        &__contacts__phone {
            font-size: 28px;
            padding-top: 22px;
        }

        &__copyright {
            display: flow;
        }
    }

    .h1 {
        font-size: 40px;
    }

    .h2 {
        font-size: 36px;
    }

    .h3 {
        font-size: 26px;
    }

    .subheading {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }

    .story {
        padding-top: 70px;

        &__text {
            width: auto;
        }
    }

    .about {
        padding-top: 70px;
    }

    .facilities__wrap,
    .featured-services,
    .reasons,
    .boost {
        padding: 70px 0;
    }

    .facilities {
        &__h1 {
            padding-bottom: 40px;
        }

        &__text {
            padding-bottom: 40px;
            display: inline-block;
        }

        &__wrap {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .featured-services {
        &__text {
            padding-bottom: 30px;
            width: 65%;
        }

        &__list {
            flex-direction: column;

            &__item {
                &__text {
                    width: 60%;
                }

                &__img {
                    padding-top: 20px;
                }
            }
        }
    }

    .clients {
        padding: 70px 0;

        &__wrap {
            flex-direction: column;
            align-items: center;
        }

        &__h1 {
            padding-bottom: 30px;
            text-align: center;
        }

        &__text {
            padding-bottom: 50px;
            text-align: center;
            display: inline-block;
            width: auto;
        }

        &__img {
            width: 80%;
        }
    }

    .contact-us {
        padding: 70px 0;

        &__wrap {
            flex-direction: column;
            text-align: center;
        }

        &__h1 {
            padding-bottom: 40px;
        }

        &__img {
            width: 40%;
            padding-top: 70px;
        }
    }

    .contact-form {
        padding: 70px 0;

        &__wrap {
            flex-direction: column;
        }

        &__h2 {
            padding-bottom: 40px;
        }

        &__text {
            width: auto;
        }
    }
}

// Phone styles
@media screen and (max-width: 425px) {

    .container,
    .footer__line {
        max-width: $mobile-425-container-width;
    }

    .button__kurye-hizmeti-al {
        display: none;
    }

    .header {
        padding: 15px 20px;
    }

    .intro,
    .advantages__paragraphs,
    .statistics,
    .why-us,
    .values__wrap {
        flex-direction: column;
    }

    .intro {
        text-align: center;
        padding-top: 30px;

        &__h1 {
            padding-top: 30px;
            width: 380px;
        }

        &__text {
            width: 380px;
        }
    }

    .advantages {
        &__h2 {
            width: 85%;
            padding-bottom: 30px;
        }

        &__text {
            width: fit-content;
            text-align: center;
        }
    }

    .statistics {
        align-items: center;
        padding: 30px;

        &__item {
            width: 220px;
        }
    }

    .why-us {
        padding: 0 0 50px;
        text-align: center;

        &__h2 {
            padding-bottom: 30px;
        }
    }

    .services {
        padding: 50px 0;

        &__subheading {
            width: 85%;
        }

        &__items {
            row-gap: 30px;
            grid-template-columns: 1fr 1fr;
        }

        &__items__item__img {
            width: 50%;
        }
    }

    .footer__img {
        width: 70px;
    }

    .footer__contacts {

        &__block1 {
            flex-direction: column;
        }

        &__text {
            font-size: 18px;
            padding-top: 20px;
        }

        &__link {
            font-size: 28px;
        }
    }

    .h1 {
        font-size: 36px;
    }

    .h2 {
        font-size: 30px;
    }

    .h3 {
        font-size: 22px;
    }

    .text {
        line-height: 22px;
    }

    .about {
        padding-top: 50px;

        &__img {
            display: none;
        }
    }

    .story {
        &__text {
            width: auto;
            padding-right: 20px;
        }
    }

    .values {
        padding: 50px 0;

        &__item {
            padding-right: 0px;

            &__text {
                width: 80%;
            }
        }
    }

    .facilities__wrap,
    .featured-services,
    .reasons,
    .boost {
        padding: 50px 0;
    }

    .facilities {
        &__img {
            width: 80%;
        }
    }

    .reasons {
        &__text {
            width: 90%;
        }

        &__list {
            flex-direction: column;

            &__item {
                padding-bottom: 20px;
            }
        }
    }

    .contact-form__input,
    .contact-form__textarea {
        width: auto;
    }
}

@media screen and (max-width: 375px) {

    .container,
    .footer__line {
        max-width: $mobile-375-container-width;
    }

    .header {
        align-items: center;

        &__menu__icon {
            width: 30px;
        }

        &__logo {
            width: 140px;
            height: 28px;
        }
    }

    .button__black,
    .button__white {
        padding: 3px 20px;
    }

    .intro {
        &__h1 {
            width: auto;
        }

        &__text {
            width: auto;
        }
    }

    .services {
        &__subheading {
            width: 95%;
        }
    }

    .statistics__item {
        width: 200px;
    }

    .h2 {
        font-size: 28px;
    }

    .h3 {
        font-size: 20px;
    }

    .text {
        line-height: 20px;
    }

    .facilities {
        &__text {
            width: 90%;
        }
    }

    .featured-services {
        &__text {
            width: 80%;
        }

        &__list {
            &__item {
                &__text {
                    width: 90%;
                }
            }
        }
    }

    .boost {
        &__text {
            width: 90%;
        }
    }
}

@media screen and (max-width: 320px) {

    .container,
    .footer__line {
        max-width: $mobile-320-container-width;
    }

    .header__menu__icon {
        width: 25px;
    }

    .header__logo {
        width: 120px;
        height: 24px;
        padding-left: 10px;
    }

    .button__black,
    .button__white {
        padding: 3px 15px;
    }

    .footer__contacts__social-icon {
        width: 25px;
    }
}